<div *ngIf="artist"
    class="grid grid-cols-3 lg:grid-cols-6 bg-zinc-800 p-3 max-w-[1800px] justify-center mx-auto min-h-[100vh]">
    <div class="col-span-3 justify-self-center lg:justify-self-start p-3">
        <img class="rounded-full border-solid border-2 border-white" src="{{artist.picture_big}}" alt="Artist">
        <h1 class="text-white text-2xl py-2 font-bold">{{artist.name}}</h1>
        <button class="bg-zinc-900 p-2 px-3 rounded-full items-center flex" (click)="isLiked ? unlikeArtist() : likeArtist()">
            <span class="material-icons-outlined text-white text-2xl pr-2"><span class="material-icons-outlined">{{ isLiked ? 'favorite' : 'favorite_border' }}</span></span>
            <span class="text-white font-bold">{{ isLiked ? 'Liked Artist' : 'Like Artist' }}</span>
        </button>
    </div>
    <div *ngIf= "artist.trackTOList.length > 0" class="w-[100%] mt-5 col-span-3">
        <h2 class="text-white font-bold h-16 text-left text-2xl">Songs</h2>
        <div class="overflow-y-auto h-[40vh]">
            <div *ngFor="let track of artist.trackTOList">
                <app-track-element [track]="track"></app-track-element>
            </div>
        </div>
    </div>
    <div *ngIf= "artist.albumTOList" class="flex flex-col w-[100%] mt-5 col-span-3 lg:col-span-6 p-3">
        <h2 class="text-white font-bold h-16 text-2xl text-left">Albums</h2>
        <div class="flex flex-nowrap overflow-x-auto overflow-y-hidden">
            <div *ngFor="let album of artist.albumTOList">
                <app-collection-element [album]="album"></app-collection-element>
            </div>
        </div>
    </div>
</div>