<button *ngIf="artist && artist.picture_big != 'https://e-cdns-images.dzcdn.net/images/artist//500x500-000000-80-0-0.jpg'" class="w-40 h-[240px] p-4 m-4 bg-zinc-900 flex flex-col justify-between flex-shrink-0 hover:scale-110 hover:grayscale" (click)="goToArtistProfile(artist.id)">
    <img class="w-30 h-30 object-cover rounded-full" src="{{artist.picture_big}}" alt="Artist">
    <div class="w-30 text-white font-bold self-center overflow-hidden h-[25%]">{{artist.name}}</div>
    <div class="w-30 text-xs text-white self-end pt-1">{{formatFansCount(artist.nb_fans)}} fans</div>
</button>
<button *ngIf="album || playlist" class="w-40 h-[250px] p-4 m-4 bg-zinc-900 flex flex-col justify-between flex-shrink-0 hover:scale-110" (click)="album ? navigateTo('album', album.id) : navigateTo('playlist', playlist!.id)">
    <div class="w-30 h-30 mb-2 relative">
        <img [src]="album ? album.cover_big : playlist?.picture_big || 'assets/music-placeholder.png'" 
             [alt]="album ? 'Album' : 'Playlist'">
             <div class="absolute inset-0 flex justify-left items-end bg-black bg-opacity-50 opacity-0 hover:opacity-100 transition-opacity duration-100 cursor-pointer">
                <span (click)="$event.stopPropagation(); onPlay()" class="material-icons-outlined text-white text-4xl hover:scale-110">play_circle</span>
            </div>
    </div>
    <div class="w-30 text-white text-ellipsis overflow-hidden h-[22%] text-left">{{album ? album.title : playlist?.title}}</div>
    <div *ngIf="album" class="w-30 text-xs text-white self-end">{{album.release_date}}</div>
</button>
