<div *ngIf="track" class="w-full p-2 overflow-hidden">
    <div class="flex justify-between text-white items-center w-full">
        <div class="flex-initial flex items-center space-x-2 gap-3">
            <div class="shrink-0 relative"> <!-- Make this a relative container for absolute positioning of the icon -->
                <img class="w-20 h-20 cursor-pointer"
                    src="{{ track.album.cover_big ? track.album.cover_big : 'assets/placeholder.jpg' }}" alt="Track cover">
                <div (click)="togglePlay()" class="absolute inset-0 flex justify-center items-center bg-black bg-opacity-50 opacity-0 hover:opacity-100 transition-opacity duration-300 cursor-pointer"> <!-- Icon container -->
                    <span class="material-icons-outlined text-white text-4xl">play_circle</span>
                </div>
            </div>
            <div class="hidden md:flex md:flex-col md:items-center">
                <button (click)="togglePlay()" class="justify-self-center">
                    <span class="material-icons-outlined scale-150">{{ isPlaying ? 'pause' : 'play_circle' }}</span>
                </button>
            </div>
            <div class="flex flex-col">
                <button class="w-fit font-bold text-left hover:underline" (click)="goToArtistProfile(track.artist.id)">{{track.artist.name}}</button>
                <p class="text-left truncate">{{track.title}}</p>
            </div>
        </div>
        <div class="flex-end">
            <p class="pr-1">
                {{Math.floor(track.duration / 60) + ':' + (track.duration % 60).toString().padStart(2, '0')}}
            </p>
        </div>
    </div>
</div>
