@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'material-icons/iconfont/material-icons.css';

mat-slider {
    width: 100% !important;
    margin: 0 !important;
}
mat-slider-visual-thumb {
    visibility: hidden;
    width: 10px;
}

mat-slider:hover mat-slider-visual-thumb {
    visibility: visible;
}
mat-slider input {
    width: 100% !important;
    left: 0 !important; 
}

.overflow-y-auto::-webkit-scrollbar , .flex::-webkit-scrollbar {
    background: #333; /* scrollbar track background */
    height: 8px; /* height for horizontal scrollbars */
    width: 8px; /* width for vertical scrollbars */
  }
  
  /* This will style the scrollbar thumb (the part that you drag) */
  .overflow-y-auto::-webkit-scrollbar-thumb, .flex::-webkit-scrollbar-thumb {
    background: #663dff; /* scrollbar thumb color */
    border-radius: 20px;
  }
  

.mat-mdc-menu-content {
    background-color: #333 !important;
}

.mat-mdc-menu-item >*{
    display: flex !important;
    align-items: center !important;
}

.mat-mdc-form-field-flex,  .mdc-text-field, .ng-trigger-transformPanel{
    background-color: #3F3F46 !important;
    color: white !important;
}

.ng-trigger-transformPanel{
   margin-left: 50px;
}

.mat-mdc-select-min-line, .mdc-list-item__primary-text, .mat-mdc-select-placeholder {
    color: white !important;
}
